@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>
@await Component.InvokeAsync("ProductTable", new { products = ViewBag.Products })

<h2>Weather Information</h2>
@await Component.InvokeAsync("WeatherWidget", new { city = "Sumy" })